<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Sobre <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about/history">História</a></li>
            <li><a href="/about/mission">Missão</a></li>
            <li><a href="/about/vision">Visão</a></li>
            <li><a href="/about/values">Valores</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Secretaria <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/secretary/time-board">Horário</a></li>
            <li><a href="/secretary/calendar">Calendário</a></li>
            <li class="divider"></li>
            <li><a href="/secretary/instructors">Professores</a></li>
            <li><a href="/secretary/administrators">Administradores</a></li>
            <li><a href="/secretary/partners">Parceiros</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Atleta <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/athlete/career">Carreira</a></li>
            <li><a href="/athlete/rules">Regulamentos</a></li>
          </ul>
      </li>
      <li>
        <a href="/location"><span class="glyphicon glyphicon-map-marker"></span> Localização</a>
      </li>
      <li>
        <a href="/contact"><span class="glyphicon glyphicon-phone-alt"></span> Contato</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.facebook.com/Arjuregistro" target="_blank"><span class="glyphicon glyphicon-thumbs-up"></span> Facebook</a>
      </li>
    </ul>
  </div>
</nav>
