<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Visão</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Definir a Missão, Visão e Valores. <br />
      Exemplo no link
      <a href="http://www.infoescola.com/administracao_/missao-visao-e-valores-os-principios-essenciais/">http://www.infoescola.com/administracao_/missao-visao-e-valores-os-principios-essenciais/</a>
    </div>
    <div class="col-md-12"><br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ex libero, commodo eu sollicitudin ut, cursus at tortor. Vestibulum eleifend nibh metus, in ullamcorper dui maximus eget. Vestibulum maximus ipsum quis tellus tempor aliquet. In vitae justo turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi gravida ipsum justo, id tristique sem varius rhoncus. Praesent in porta massa, id consectetur sapien. Suspendisse feugiat blandit justo vitae accumsan. Nullam tempus ultrices eros et pretium.
    </div>

  </div> <!-- row -->
  <% include ../../partials/footer.ejs %>

</div>

</body>
</html>
