<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Administradores</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <h3>DO  SONHO À REALIDADE</h3>
      </div>
      <div class="col-md-8">
        <p>
        No Vale do Ribeira, mais especificamente em Registro, na época pós guerra os japoneses treinavam seus filhos a arte do judô, não como esporte,
        mas sim para que jamais perdessem uma briga ou luta para pessoas de outras nacionalidades, os “gaijins”, pois eram freqüentemente provocados
        por eles nas ruas e nas escolas por serem japoneses os “inimigos do Brasil”.
        <p>
        Há cerca de 63 anos (meados de 1948), jovens e adultos começaram a reunir-se em grupos para treinarem judô em pontos diferentes de Registro.
        Um desses grupos liderados pelo Sr. TORAICHIRO SUZUKI, um apaixonado por esse esporte,  tinha como Sensei NOBUO OGAWA,
        na época com 26 anos de idade e faixa preta de 1º Dan pela <b>BUDOKAN</b>*.
        <p>
        Essa Academia viria a ser chamada de <b>“ACADEMIA REGISTRO BUDOKAN”</b>.
        <p>
        <div class="panel panel-info">
          <div class="panel-body">
          A <b>BUDOKAN</b> é escola de judô fundada no Japão pelo próprio idealizador da modalidade, JIGORO KANO e que se espalhou com filiais no mundo todo.
          <br />
          No Brasil, chegou através do Sensei RYUZO OGAWA, que passou a direção ao seu filho MATSHUO OGAWA e hoje no seu comando está seu neto, o Sensei HITOSHI OGAWA.<br />
          O Sensei NOBUO OGAWA, é sobrinho do Sensei RYUZO OGAWA.
          <br />
          Na época da fundação da ARJU não existia a Federação Paulista de Judô e as Academias eram afiliadas à BUDOKAN DO BRASIL.
          </div>
        </div>
        <p>
        <div class="alert alert-info">
          <b>A ARJU orgulha-se de ser a 10ª Academia a filiar-se à BUDOKAN DO BRASIL e uma das mais antigas ainda em atividade.</b>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img src="/images/sensei-nobuo-ogawa.jpg" style="width: 100%">
        <hr>
        Senseis Mitsuo Kato, Rubens Nakazawa, Nobuo Ogawa e Edson Kusaka
      </div>
      <div class="col-md-12">
        <h3>OS  PRIMEIROS  PASSOS</h3>
      </div>
      <div class="col-md-12">
        <p>
          Em 1952, mais exatamente no dia 25 de outubro, os diversos grupos espalhados pela cidade uniram-se sob liderança do Sr. SUZUKI
          e o sonho de uma Academia de Judô no Vale do Ribeira começou a se estruturar e ganhar vida.
          Às vésperas de Registro comemorar seu 8º aniversário de emancipação, a Academia que funcionava nos fundos da
          casa do Sr. Uematsu na Rua Joaquim Marques Alves, ganhava seu primeiro nome: <b>ACADEMIA REGISTRO BUDOKAN</b>. Eram treinos à luz de vela ou geradores a gasolina,
          sobre tatamis improvisados com pó de serragem coberto com esteira de taboa* e lona de encerado.<br />
          <div class="text-right">
          <i>* Taboa é uma vegetação típica dos pântanos e abundante na região.</i>
        </div>
        <br />
          <p>
          Na época os quimonos eram costurados e trançados a mão pelas famílias e as faixas eram brancas. Só depois da filiação à BUDOKAN é que se passou a graduação na própria
          Academia até a faixa verde (3º Kyu). Na festa de inauguração da Academia, houve demonstração de judô, tendo como convidado o <b>Sensei TERASAKI</b>, da cidade de Suzano.
          <p>
          Em 1954, mudaram-se para o salão do Sr. Akune (onde hoje funciona as Lojas Americanas), tendo as aulas ministradas pelo Sensei Ogawa e outros colaboradores.
          <p>
          Em 1955, mudaram-se para um salão da fábrica de chá da antiga Cooperativa Agrícola de Cotia, atual sede social do RBBC (ao lado do atual endereço da ARJU).
          Sensei OGAWA já 2º Dan, era auxiliado por outros colegas faixa preta. Atletas participavam de Campeonatos na Capital viajando em pau-de-arara pelas estradas de terra
          via Juquiá-Tapiraí-Piedade-Cotia até a Capital, no Ginásio de Esportes do Pacaembú.
        <p>
          Cansados de mudarem constantemente de local, duas importantes personalidades da cidade, Rui de Mello Tucunduva (Promotor) e Itamar Senne (Delegado de Polícia),
          incentivaram a construção de séde própria.
          <p>
          Com Livro Ouro pró-construção, o povo registrense ajudou na compra de materiais para construção do prédio que até hoje abriga a Academia. Atletas, professores, pais
          e simpatizantes colaboraram com tijolos e cimento, tiraram areia do Rio Ribeira de Iguape manualmente com pás e canoas enquanto outros transportavam até o local da construção.
          <p>
          Assim em 25 de setembro de 1957 foi inaugurado o atual prédio da <b>ACADEMIA REGISTRO BUDOKAN</b>, situado na Rua Presidente Getulio Vargas, 531,
          com homenagem prestada ao Sensei <b>NOBUO OGAWA</b> pelo Sr. <b>TORAICHIRO SUZUKI</b>, pelos ótimos serviços prestados aos atletas e à comunidade.
          <p>
          Nos primeiros anos no novo endereço, o Sensei <b>RYUZO OGAWA</b> (introdutor do Budokan no Brasil), vinha de São Paulo para ministrar
          aulas de judô na <b>REGISTRO BUDOKAN</b>
          <p>
          A graduação na Academia passou a ser até faixa marron (1º Kyu). Candidatos às faixas pretas deveriam ir à Capital submeter-se a examinadores da <b>BUDOKAN</b>,
          onde se reuniam demais candidatos de todo o Brasil para exames teóricos e práticos (lutas).  Sem separação por faixas, idade ou peso, os candidatos dependendo
          do dia lutavam até oito vezes, com direito a apenas uma derrota.
          <p>
          Hoje, esses exames são feitos por examinadores da Federação Paulista de Judô e Confederação Brasileira de Judô.
          <p>
          A <b>REGISTRO BUDOKAN</b> que desde seus primeiros passos sempre teve nos ensinamentos dos seus mestres as técnicas, os princípios e a filosofia do judô
          traduzido na forma de amizade, coleguismo, respeito aos colegas, superiores, professores e aos semelhantes sem envolvimento político ou religioso, deu mostra
          prática de solidariedade quando grupo de registrenses adventistas do 7º Dia estavam com dificuldades para realização de Cultos Religiosos procuraram Sensei <b>NOBUO OGAWA</b>.
          Assim, por algum tempo aos sábados de manhã eram realizados os Cultos Religiosos e à tarde, reunião dos jovens Adventistas. Curioso acontecia às quarta feiras:
          enquanto os Cultos se realizavam, atletas aguardavam do lado de fora e, quando encerravam, todos se uniam para arrumarem os tatamis.
          Essa convivência durou até a conclusão do primeiro Templo Adventista do 7º Dia da cidade.
          <p>
          O prédio também foi cedido por alguns meses para a Igreja Budista, para funcionamento do NIHON-GAKÔ (Escola da língua japonesa).
      </div>
      <div class="col-md-12">
        <h3>CONSOLIDAÇÃO ESTRUTURAL</h3>
      </div>
      <div class="col-md-12">
        <p>
        Em novembro de 1978 reuniram-se no salão do R.B.B.C. em Registro os Senhores Eriseu Yoshinori Tagushi, Elias de Lima, Yokimaça Fujihara,
        Rubens Massashi Nakazawa, Orlando Corrêa Vassão, Nobuo Ogawa, Toshiaki Yamamura, Antonio Marques, Seisaku Odake, Edgard Raupp Sebastião,
        Célio Ikeda, Issao Ogawa e Kyoshi Hashimoto, para debater assuntos pertinentes a constituição da <b>ASSOCIAÇÃO REGISTRENSE DE JUDÔ - ARJU</b>.
        <p>
        Para coordenar os trabalhos, por indicação do Sr. Nobuo Ogawa e aprovação dos demais presentes foi escolhido Sr. Célio Ikeda que abrindo a reunião,
        fez leitura dos estatutos sociais, frisando que o mesmo foi elaborado após pesquisa em outras academias e consultas à Federação. Assim sendo,
        estariam dentro das normas estabelecidas pelas entidades superiores. Após debaterem minuciosamente todos os itens, estes foram aprovados por unanimidade sem ressalvas.
        <p>
        No dia 15 de dezembro de 1978 na residência do Sr. Nobuo Ogawa, sob presidência deste e tendo como secretário Sr. Célio Ikeda, às 21 horas teve início a
        Assembléia Ordinária para eleição da primeira Diretoria e Conselho Fiscal da ARJU, que assim ficou constituída:

        <p>
        Diretor Presidente: YOKIMAÇA FUJIHARA
        <br />
        Diretor Vice Presidente: ERIZEU YOHINORI TAGUSHI
        <br />
        Diretor Secretário: CÉLIO IKEDA
        <br />
        Diretor 2o. Secretário: RUBENS MASSASHI NAKAZAWA
        <br />
        Diretor Tesoureiro: ANTONIO MARQUES
        <br />
        Conselho Fiscal :  JOSÉ PAULO TEIXEIRA; ISSAO OGAWA;  TOSHIAKI YAMAMURA
      </div>
    </div>
  </div> <!-- row -->
  <% include ../../partials/footer.ejs %>

</div>

</body>
</html>
