<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Calendário</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-calendar"></span> Próximos Compromissos</h3>
      <ul>
        <li>Copa São Paulo 2017</li>
        <ul>
          <li><code>18/03/1981:</code> SUB-11 (Obrigatório Judogui Branco)</li>
          <li><code>18/03/1981:</code> SUB-13 e Sênior (Obrigatório Judogui Branco e Azul)</li>
          <li><code>19/03/1981:</code> SUB-15, SUB-18 e SUB-21 (Obrigatório Judogui Branco e Azul)</li>
          <li><a href="http://www.fpj.com.br/novo2016/wp-content/uploads/2017/02/COPASP2017.pdf">Clique aqui</a> para fazer download do regulamento</li>
        </ul>
        <li>Copa Cananéia de Judô 2017</li>
        <ul>
          <li><code>26/03/1981:</code> Festival e Federados</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
  <% include ../../partials/footer.ejs %>

</div>

</body>
</html>
