<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Horário</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-blackboard"></span> Quadro de Horário</h3>
      <ul>
        <li>até 6 anos - Sensei Edna Pioker - Segunda e Quinta das 18h30 às 19h30</li>
        <li>a partir de 7 anos até 11 anos - Sensei Mitsuo Kato - Terça e Quinta das 19h30 às 20h30</li>
        <li>a partir de 11 anos - Sensei Rubens Nakazawa - Segunda, Quarta e Sexta das 20h30 às 22h00</li>
      </ul>
      Obs: caso não tenha um horário adequado para você, nos procure para analisarmos como encaixar em outro horário sem prejudicar o seu desempenho.
    </div>
  </div> <!-- row -->
  <% include ../../partials/footer.ejs %>

</div>

</body>
</html>
