<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>ARJU</h1>
    <h2>Associação Registrense de Judô</h2>
    <p>O ensinamento de uma pessoa vitoriosa pode influenciar muitos. <br>O que foi aprendido bem em uma geração pode ser passado por séculos. <br><i>"Jigoro Kano"</i></p>
    <a type="button" class="btn btn-lg btn-default" href="/prospect"><span class="glyphicon glyphicon-heart-empty"></span> Quero Aprender Judô</a>
    <a type="button" class="btn btn-lg btn-primary" href="/indicate"><span class="glyphicon glyphicon-hand-right"></span> Indique um Amigo</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <span class="glyphicon glyphicon glyphicon-alert"></span> Copa Cananéia no dia 26/03/2017. <a href="/about/history" class="alert-link">Clique aqui</a> para fazer download do regulamento.
  </div>
  <div class="alert alert-info text-center" role="alert">
    <span class="glyphicon glyphicon glyphicon-alert"></span> Novo horário para atletas "biribas" (Até 6 anos) - Segundas e Quintas das 18h30 às 19h30.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ex libero, commodo eu sollicitudin ut, cursus at tortor. Vestibulum eleifend nibh metus, in ullamcorper dui maximus eget. Vestibulum maximus ipsum quis tellus tempor aliquet. In vitae justo turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi gravida ipsum justo, id tristique sem varius rhoncus. Praesent in porta massa, id consectetur sapien. Suspendisse feugiat blandit justo vitae accumsan. Nullam tempus ultrices eros et pretium.

      <p>
      Fusce sed bibendum libero. Ut eu vestibulum nisl, condimentum tempor metus. Nulla fringilla molestie quam, ut vulputate lectus dapibus non. Pellentesque eu leo nec sapien faucibus pretium. Aliquam erat volutpat. Cras nec velit mattis, tempus lorem non, dictum dui. Phasellus molestie sapien eu odio auctor, at scelerisque eros consequat. Phasellus viverra massa sed nisi tristique venenatis. Vivamus sollicitudin felis et lacus commodo suscipit. Fusce suscipit nulla nibh, eget auctor eros ullamcorper non. Phasellus ut ornare ante, vitae interdum augue. Nunc malesuada nulla eros, et dictum est dignissim vitae. Ut sagittis nisl quis massa euismod, eu aliquam nibh vulputate. Nulla id leo ut lorem convallis semper.

      <p>
      Quisque convallis vel ipsum a fringilla. Duis sit amet convallis justo. Aenean lorem eros, imperdiet et ligula nec, hendrerit porttitor arcu. Integer nec ipsum imperdiet, luctus ex eget, aliquam mauris. Etiam eget nisl dolor. Donec semper ut sem vitae rutrum. Nullam non urna non purus convallis ullamcorper. Aliquam vehicula rhoncus luctus. Sed vel quam finibus massa pulvinar feugiat. In rutrum nisl sed imperdiet auctor. Phasellus a malesuada orci. Praesent tincidunt leo nisl, ut accumsan purus hendrerit non. Nam finibus luctus nisi, aliquet facilisis tellus pharetra in.

      <p>
      Vivamus sodales purus in ligula consequat malesuada. Sed ac risus at turpis dignissim ullamcorper. Donec ipsum massa, efficitur non lobortis eu, auctor eget nunc. Morbi eget turpis tempus, convallis turpis mattis, tincidunt lorem. Ut ullamcorper dictum interdum. Suspendisse maximus, mauris ut condimentum tincidunt, nisi ligula aliquet sapien, at placerat augue lorem nec nisi. Etiam egestas nisi vel justo efficitur consequat.

      <p>
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc tristique dapibus leo eu posuere. Praesent mattis urna massa, tincidunt euismod leo facilisis lobortis. Vestibulum ornare velit sit amet faucibus venenatis. Mauris eget tincidunt eros. Integer egestas odio eget ante iaculis facilisis. Integer ac diam vitae ante ultricies porta. Vestibulum dapibus posuere malesuada. Vestibulum sit amet ultricies lacus. Praesent mollis libero sit amet lacinia placerat. Ut quis nulla pellentesque nunc mattis vestibulum. Mauris vel suscipit nunc. Aenean feugiat augue ut nisl cursus iaculis in ac tellus.
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Órgãos Importantes</h3>
        <ul>
          <li><a href="https://www.ijf.org" target="_blank">IJF - International Judo Federation</a></li>
          <li><a href="http://www.cbj.com.br" target="_blank">CBJ - Confederação Brasileira de Judô</a></li>
          <li><a href="http://www.fpj.com.br" target="_blank">FPJ - Federação Paulista de Judô</a></li>
        </ul>
      </div>
    </div>
  </div> <!-- row -->

  <% include ../partials/footer.ejs %>
</div>

</body>
</html>
