<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>ARJU</h1>
    <h2>Associação Registrense de Judô</h2>
    <p>O ensinamento de uma pessoa vitoriosa pode influenciar muitos. <br>O que foi aprendido bem em uma geração pode ser passado por séculos. <br><i>"Jigoro Kano"</i></p>
    <a type="button" class="btn btn-lg btn-default" href="/prospect"><span class="glyphicon glyphicon-heart-empty"></span> Quero Aprender Judô</a>
    <a type="button" class="btn btn-lg btn-primary" href="/indicate"><span class="glyphicon glyphicon-hand-right"></span> Indique um Amigo</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <span class="glyphicon glyphicon glyphicon-alert"></span> Copa Cananéia no dia 26/03/2017. <a href="/about/history" class="alert-link">Clique aqui</a> para fazer download do regulamento.
  </div>
  <div class="alert alert-info text-center" role="alert">
    <span class="glyphicon glyphicon glyphicon-alert"></span> Novo horário para atletas "biribas" (Até 6 anos) - Segundas e Quintas das 18h30 às 19h30.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-blackboard"></span> Quadro de Horário</h3>
        <ul>
          <li>até 6 anos - Sensei Edna Pioker - Segunda e Quinta das 18h30 às 19h30</li>
          <li>a partir de 7 anos até 11 anos - Sensei Mitsuo Kato - Terça e Quinta das 19h30 às 20h30</li>
          <li>a partir de 11 anos - Sensei Rubens Nakazawa - Segunda, Quarta e Sexta das 20h30 às 22h00</li>
        </ul>
        Obs: caso não tenha um horário adequado para você, nos procure para analisarmos como encaixar em outro horário sem prejudicar o seu desempenho.
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-calendar"></span> Próximos Compromissos</h3>
        <ul>
          <li>Copa São Paulo 2017</li>
          <ul>
            <li><code>18/03/1981:</code> SUB-11 (Obrigatório Judogui Branco)</li>
            <li><code>18/03/1981:</code> SUB-13 e Sênior (Obrigatório Judogui Branco e Azul)</li>
            <li><code>19/03/1981:</code> SUB-15, SUB-18 e SUB-21 (Obrigatório Judogui Branco e Azul)</li>
            <li><a href="http://www.fpj.com.br/novo2016/wp-content/uploads/2017/02/COPASP2017.pdf">Clique aqui</a> para fazer download do regulamento</li>
          </ul>
          <li>Copa Cananéia de Judô 2017</li>
          <ul>
            <li><code>26/03/1981:</code> Festival e Federados</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Órgãos Importantes</h3>
        <ul>
          <li><a href="https://www.ijf.org" target="_blank">IJF - International Judo Federation</a></li>
          <li><a href="http://www.cbj.com.br" target="_blank">CBJ - Confederação Brasileira de Judô</a></li>
          <li><a href="http://www.fpj.com.br" target="_blank">FPJ - Federação Paulista de Judô</a></li>
        </ul>
      </div>
    </div>
  </div> <!-- row -->

  <% include ../partials/footer.ejs %>
</div>

</body>
</html>
