<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Indique um Amigo</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Se você já é um atleta matriculado e gostaria de convidar um amigo para
      aprender Judô, nós lhe oferecemos uma condição especial.
      Entre em contato com a secretaria para informar os detalhes ou preencha o
      formulário abaixo que cuidaremos disso para você.
    <hr>

      <form>

        <div class="panel panel-info">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Seu nome:</label>
                <input type="text" class="form-control" id="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Seu telefone:</label>
                <input type="text" class="form-control" id="phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="mobile">Seu celular:</label>
                <input type="text" class="form-control" id="mobile">
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-body">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Seu amigo:</label>
                <input type="text" class="form-control" id="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Telefone do seu amigo:</label>
                <input type="text" class="form-control" id="phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="mobile">Celular do seu amigo:</label>
                <input type="text" class="form-control" id="mobile">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div> <!-- row -->
  <% include ../partials/footer.ejs %>

</div>

</body>
</html>
