<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Localização</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <b>Estamos localizados na Rua Getúlio Vargas, 531, no centro de Registro-SP.</b>
      </p>
      Venham nos conhecer e se puder, participe de uma aula experimental.
      <br />
      Se você já é atleta e gostaria de participar de um treino eventual, entre
      em <a href="/contact">contato</a> com a secretaria para passar o
      regulamento.
      <br />
      Todos são sempre bem vindos!
    <hr>
  </div>
  <div class="col-md-12">
    <h3><span class="glyphicon glyphicon-map-marker"></span> Localização</h3>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=-24.4939737,-47.84342&zoom=18&size=400x400&markers=size:mid%7CAssocia%C3%A7%C3%A3o+Registrense+de+Jud%C3%B4&key=AIzaSyBDpQx-yvjaMPqZiIdY0z7CTgMAGNMVXKo"/>
    </div>
  </div> <!-- row -->
  <% include ../partials/footer.ejs %>

</div>

</body>
</html>
