<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-rigth">
    <div class="container">
      <h1>Quero aprender Judô</h1>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      Se você ainda não é um atleta matriculado e gostaria de aprender Judô,
      venha nos conhecer e assista um treino, ou participe de uma aula
      experimental sem compromisso.<br />
      Deixaremos os trajes preparado para recebê-lo, basta preencher o
      formulário abaixo ou entrar em contato com a secretaria.
    <hr>

      <form>

        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Seu nome:</label>
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Seu telefone:</label>
            <input type="text" class="form-control" id="phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="mobile">Seu celular:</label>
            <input type="text" class="form-control" id="mobile">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="born">Data de Nascimento:</label>
            <input type="text" class="form-control" id="born">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="gender">Sexo:</label>
            <select type="text" class="form-control" id="gender">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="weight">Peso (kg):</label>
            <input type="text" class="form-control" id="height">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="height">Altura (cm):</label>
            <input type="text" class="form-control" id="height">
          </div>
        </div>

        <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div> <!-- row -->
  <% include ../partials/footer.ejs %>

</div>

</body>
</html>
